/* ==========================================================================
   Contact
   ========================================================================== */

.contact__heading {
    font-weight: 400;
    color: #777;
    margin-bottom: 5px;
    span {
        font-size: 20px;
    }
}

.contact__item {
    margin-bottom: 30px;
    p {
        margin-bottom: 0;
    }
}