/* ==========================================================================
   Contact
   ========================================================================== */

.contact__heading {
    font-weight: 400;
    color: #777
}

.contact__item {
    margin-bottom: 30px;
    p {
        margin-bottom: 0;
    }
}