/* ==========================================================================
   Gallery
   ========================================================================== */

.gallery {
    clear: both;
    overflow: hidden;
    margin-bottom: 50px;
}

.gallery__item {
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
    a {
        display: block;
        width: 100%;
        height: auto;
    }
    &:before {
        display: none;
    }
    @include bp(33em) {
        float: left;
        width: 50%;
        height: 170px;
        overflow: hidden;
    }
    @include bp(50em) {
        width: 33.3%;
        height: 160px;
    }
}

.gallery__item__img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    &:hover {
        filter: none;
    }
}