/*==========================================================================
  Navigation
  ========================================================================== */

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;
  transform: translateX(-190px);
  background: $color-bg-navigation;
  transition: all 300ms ease;
  box-shadow: 2px 0px 7px 0px rgba(50, 50, 50, 0.85);
  z-index: 99;
  &.js-active {
    transform: translateX(0px);
  }

  @include bp(70em) { //1120px
    transform: translateX(0px);
    width: 200px;
  }

  @include bp(78em) { //1248px
    width: 280px;
  }
}

.navigation__list {
  list-style: none;
  padding: 1rem 0 0 0;
}

.navigation__list__item {
  width: 100%;
  height: 100%;
  padding: 10px 5px 10px 0;
  cursor: pointer;
  &:before {
    display: none
  }

  @include bp(78em) { //1248px
    padding: 12px 5px 12px 0;
  }

  &:hover {

    background: $color-bg-navigation-hover;

    .navigation__anchor {
      color: $color-font-navigation-hover;
    }
  }
}

.navigation__anchor {
  font-family: "Clear", serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  color: $color-font-navigation;
  text-decoration: none;
  font-size: 18px;
  text-align: center;

  &:not(.navigation__anchor--logo) {
    display: block;
  }

  @include bp(78em) { //1248px
    font-size: 20px;
  }
}

.navigation__logo {
  display: block;
  margin: 0 auto;
  padding: 1.6rem 0 0 0;
}

/* Menu button variables */
$icon_height: 22px;
$line_width: 35px;
$line_height: 2px;

.menu {
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 999;
}

.menu__btn {
    position: relative;
    display: block;
    width: $line_width;
    height: $icon_height;
    z-index: 3;
    text-decoration: none;
    outline: 0;

    @include bp(70em) { //1120px
        display: none;
    }
}

.menu__btn__text {
    font-family: "Clear", serif;
    position: relative;
    left: -72px;
    top: -2px;
    font-size: 1.5rem;
    color: $nav-btn-text;
    line-height: 1.2;

    .body--home & {
      color: $white;
    }
}

.menu__btn__line {
    display: block;
    position: absolute;
    width: $line_width;
    height: $line_height;
    background: $nav-btn-line;
    border-radius: 10px;

    .body--home & {
      background: $white;
    }
}

.menu__btn__line1 {
  transition: all 400ms 50ms ease;
}

.menu__btn__line2 {
  transition: all 400ms ease;
}

.menu__btn__line3 {
  transition: all 400ms 100ms ease;
}

.menu__btn.js-active {

    .menu__btn__line1 {
        transform: translateY(11px) rotate(45deg);
    }

    .menu__btn__line2 {
        opacity: 0;
    }

    .menu__btn__line3 {
        transform: translateY(-11px) rotate(-45deg);;
    }
}

.menu__btn__line1 {
    top: 0;
}

.menu__btn__line2 {
    top: 50%;
}

.menu__btn__line3 {
    top: 100%;
}

.navigation--copyright {
    position: absolute;
    // font-family: "Julius", serif;
    font-family: "Clear", serif;
    text-align: center;
    color: #888;
    bottom: 5px;
    width: 100%;
}