/* ==========================================================================
   Review
   ========================================================================== */

.review {
    margin-bottom: 30px
}

.review__heading {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.1;

  @include bp(50em) {
    font-size: 26px;
  }
}