/*==========================================================================
  Main-page
  ========================================================================== */

.full-bg {
  width: 100%;
  height: 100%;
  background: url(../images/bg-480.jpg) no-repeat center center fixed;
  background-size: cover;

  @include retina() {
    background: url(../images/bg-768.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  @include bp(31em) { //500px
    background: url(../images/bg-768.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  @include retina-min(31em) {
    background: url(../images/bg-1450.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  @include bp(47em) { //750px
    background: url(../images/bg-1450.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  @include retina-min(47em) {
    background: url(../images/bg-1450.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

.logo--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.logo__image {
  margin: 0 0 0 -100px;

  @include bp(50em) { //800px
    margin: 0 0 0 -100px;
  }
  @include bp(70em) { //1120px
    margin: 0 0 0 -50px;
  }
}

@keyframes anim-img {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.anim-slide {
  animation: anim-img 5s 500ms ease-in backwards;
}

#icon {
  position: absolute;
  display: none;
  top: 20px;
  right: 40px;
  cursor: pointer;
  fill: $grey;
  &.stop {
    top: 20px;
    right: 39px;
  }
  .body--home & {
    fill: $white;
  }
  @include bp(78em) { //1248px
    display: inline-block;
  }
}

.no-svg #icon {
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
}

.playing {
  .speaker--off {
    display: none;
  }
  .speaker--on {
    display: block;
  }
}

.playing.stop {
  .speaker--on {
    display: none;
  }
  .speaker--off {
    display: block;
  }
}

