/*==========================================================================
  Base
  ========================================================================== */

::selection {
    background: $selection-color;
}

* {
  box-sizing: border-box;
  margin: 0;
}

@-ms-viewport {
  width: device-width;
}

html {
  font-size: 100%;
  line-height: 1.5;
}

body, html {
  height: 100%;
}

body {
  color: $body-font;
  background: $body-bg;
  font-family: "Source-serif", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;

  @include bp(50em) { //800px
    font-size: 20px;
  }
}

a {
  color: $body-font;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 200ms ease;

  @include bp(70em) { //1120px
    padding-left: 200px;
  }

  @include bp(78em) { //1248px
    padding-left: 280px;
  }
}

.frown {
  font-size: 10rem;
  text-align: center;
}

.frown--text {
  font-family: "Clear", serif;
  text-align: center;
}

