/*==========================================================================
  Grid
  ========================================================================== */

$grid-pad: 20px;

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 80px $grid-pad 0 $grid-pad;

  &.gallery {
    max-width: 800px;
  }

  @include bp(50em) { //800px
    padding: 60px $grid-pad 0 $grid-pad;
  }
}

.row {
  margin-right: -($grid-pad/2);
  margin-left: -($grid-pad/2);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  padding: 0 ($grid-pad/2) $grid-pad ($grid-pad/2);
  width: 100%;
}

@media screen and (min-width: 35em) {
  .col {
    width: 50%;
  }
}