/*==========================================================================
  Typography
  ========================================================================== */

h1, h2, {
  font-family: "Clear", serif;
  font-weight: 600;
  line-height: 1.1
}

h1 {
  font-size: 32px;
  margin-bottom: 5px;
  @include bp(50em) { //800px
    font-size: 56px;
  }
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  @include bp(50em) { //800px
    font-size: 30px;
  }
}

.subheding {
  font-family: "Clear", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
  color: #777;
  margin-bottom: 30px;
  @include bp(50em) { //800px
    font-size: 26px;
    margin-bottom: 35px;
  }
}

p, ul {
  margin-bottom: 35px;
}

ol li {
  margin-bottom: 15px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  position: relative;
  padding-left: 20px;
  &:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    width: 10px;
    height: 1px;
    background: $body-font;
  }
  @include bp(50em) { //800px
    padding-left: 25px;
    &:before {
      top: 15px;
    }
  }
}

.blockquote {
  font-family: "Clear", serif;
  text-indent: -8px;
  font-style: italic;
}